<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'nav.html' %}

        {% if is_authorized %}

            <h2>Přidej riziko</h2>
            <div class="center">
                <form action="/riskManagement/projects/projectDetail/phaseDetail/{{ project_id }}/{{ phase_id }}/saveNewRisk" method="post" id="add-risk-form">

                    {% csrf_token %}

                    <input type="text" name="name" placeholder="Název" />

                    <textarea name="description" placeholder="Popis rizika"></textarea>

                    <select name="category" form="add-risk-form">
                        <option value="" disabled selected>Vyberte typ rizika</option>
                        <option>Technické riziko</option>
                        <option>Riziko řízení projektu</option>
                        <option>Obchodní riziko</option>
                        <option>Externí riziko</option>
                    </select>

                    <textarea name="threat" placeholder="Hrozba"></textarea>

                    <input type="text" name="triggers" placeholder="Spouštěče" />

                    <textarea name="reactions" placeholder="reactions"></textarea>

                    <input type="number" name="probability" placeholder="Pravdepodobnost" value="0"/>

                    <select name="impact" form="add-risk-form">
                        <option value="" disabled selected>Vyberte dopad rizika</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Big</option>
                    </select>

                    <select name="state" form="add-risk-form">
                        <option value="" disabled selected>Vyberte stav rizika</option>
                        <option>Nové</option>
                        <option>Uzavřené</option>
                        <option>Přihodilo se</option>
                    </select>

                    <input type="text" onfocus="this.type='date'" name="datetime_created" placeholder="Datum vzniku" />
                  
                    <input type="submit" value="Přidat riziko">            
                </form>
            </div>

        {% else %}
            Nemáte dostatečné oprávnění pro zobrazení modulu
        {% endif %}

    </body>
</html>

