<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <img src="logo.png" alt="logo ITSol">
        <h1>Systém pro podporu řízení rizik v projektech</h1> 

        <nav>
            {% if privileges == "admin" %}
                <a href="../">Správa uživatelů</a>
            {% endif %}
            {% if privileges == "project-manager" or privileges == "admin" %}
                <a href="">Vytvořit projekt</a>
            {% endif %}
            {% if privileges == "project-manager" or privileges == "admin" or privileges == "risk-manager" or privileges == "user" %}
                <a href="">Moje projekty</a>
            {% endif %}
        </nav>

        {% if privileges == "admin" %}

        <form action="saveEditUser/{{ id }}" method="post">
            {% csrf_token %}
            <input type="text" name="firstName" placeholder="Jméno" value="{{ user.firstName }}">
            <br />
            <input type="text" name="lastName" placeholder="Příjmení" value="{{ user.lastName }}">
            <br />
            <input type="text" name="email" placeholder="E-mail" value="{{ user.email }}">
            <br />
            <input type="text" name="phoneNum" placeholder="Telefonní číslo" value="{{ user.phoneNum }}">
            <br />
            <input type="text" name="userLogin" placeholder="Login" value="{{ user.userLogin }}">
            <br />
            <input type="password" name="password" placeholder="Heslo">
            <br />
            <select name="privileges">
                <option value="admin">Administrátor</option>
                <option value="project-manager">Projektový manažer</option>
                <option value="risk-manager">Manažer rizik</option>
                <option value="user">Běžný uživatel</option>
            </select>
            <br />
            <input type="submit" value="Uložit změny">
            
        </form>
    
        {% else %}
            Nemáte dostatečné oprávnění pro zobrazení modulu
        {% endif %}

    </body>
</html>

