<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <img src="logo.png" alt="logo ITSol">
        <h1>Systém pro podporu řízení rizik v projektech</h1> 

        <nav>
            {% if privileges == "admin" %}
                <a href="../">Správa uživatelů</a>
            {% endif %}
            {% if privileges == "project-manager" or privileges == "admin" %}
                <a href="">Vytvořit projekt</a>
            {% endif %}
            {% if privileges == "project-manager" or privileges == "admin" or privileges == "risk-manager" or privileges == "user" %}
                <a href="">Moje projekty</a>
            {% endif %}
        </nav>

        {% if privileges == "admin" %}

            TODO editace uživatele
    
        {% else %}
            Nemáte dostatečné oprávnění pro zobrazení modulu
        {% endif %}

    </body>
</html>

