<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    </head>
    <body>
        <img src="logo.png" alt="Logo ITSol">

        <h1>Systém pro podporu řízení rizik v projektech</h1> 
        
        <form action="login/" method="post">
            {% csrf_token %}
            <input name="login" placeholder="login">
            <br />
            <input name="password" placeholder="password">
            <br>
            <input type="submit" value="login">
        </form>
    </body>
</html>

