<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'nav.html' %}  
        
        <h2>Moje projekty</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Popis</th>
                <th>Počet fází</th>
                <th>Počet členů</th>
                <th>Projektový manažer</th>
                <th>Manažer rizik</th>
                <th></th>
                <th></th>
            </tr>
            {% for x in projects %}
            <tr>
                <th>{{x.id}}</th>
                <td>{{ x.name }}</td>
                <td>{{ x.describtion }}</td>
                <td>TODO počet fází</td>
                <td>{{ x.members.all.count }}</td>
                <td>{{x.foreignKeyManager.firstName}} {{x.foreignKeyManager.lastName}}</td>
                <td>{{x.foreignKeyManagerRisk.firstName}} {{x.foreignKeyManagerRisk.lastName}}</td>
                <td class="center"><a href="projectDetail/{{ x.id }}">🔎</a></td>
                <td class="center"><a href="removeProject/{{ x.id }}">🗑️</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

