<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'nav.html' %}

        <h2>Moje projekty</h2>
        <input type="text" id="myInput" onkeyup="lookUp()"
        placeholder="Search in projects table">
        <table id="projectTable">
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Popis</th>
                <th>Počet fází</th>
                <th>Počet členů</th>
                <th>Projektový manažer</th>
                <th>Manažer rizik</th>
                <th>Stav</th>
                <th></th>
                <th></th>
            </tr>
            {% for x, y in projects %}
            <tr>
                <th>{{x.id}}</th>
                <td>{{ x.name }}</td>
                <td>{{ x.description }}</td>
                <td>{{y}}</td>
                <td>{{ x.members.all.count }}</td>
                <td>{{x.foreignKeyManager.firstName}} {{x.foreignKeyManager.lastName}}</td>
                <td>{{x.foreignKeyManagerRisk.firstName}} {{x.foreignKeyManagerRisk.lastName}}</td>
                <td>{{ x.state }}</td>
                <td class="center"><a href="projectDetail/{{ x.id }}">🔎</a></td>
                <td class="center"><a href="removeProject/{{ x.id }}">🗑️</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
<script>
function lookUp() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("projectTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      txtValue = tr[i].getElementsByTagName("td")[j].textContent || tr[i].getElementsByTagName("td")[j].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      } else {
        tr[i].style.display = "none";
      }
    }

  }
}
</script>
