<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        {% include 'nav.html' %}

        <h2>Registr uživatelů</h2>

        {% if privileges == "admin" %}
        <input type="text" id="myInput" onkeyup="lookUp()"
        placeholder="Search in users table">
            <table border="1" id="userTable">
                <tr>
                    <th>ID</th>
                    <th>Křestní jméno</th>
                    <th>Příjmení</th>
                    <th>E-mail</th>
                    <th>Telefonní číslo</th>
                    <th>Login</th>
                    <th>Práva</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for x in users %}
                <tr>
                <th>{{x.id}}</th>
                <td>{{ x.firstName }}</td>
                <td>{{ x.lastName }}</td>
                <td>{{ x.email }}</td>
                <td>{{ x.phoneNum }}</td>
                <td>{{ x.userLogin }}</td>
                <td>{{ x.privileges }}</td>
                <td class="center"><a href="editUser/{{ x.id }}">✏️</a></td>
                <td class="center"><a href="removeUser/{{ x.id }}">🗑️</a></td>
                </tr>
                {% endfor %}
            </table>

            <a class="button" href="addUser/">Přidat uživatele</a>
        {% else %}
            Nemáte dostatečné oprávnění pro zobrazení modulu
        {% endif %}

    </body>
</html>
<script>
function lookUp() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("userTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    for (j = 0; j < td.length; j++) {
      txtValue = tr[i].getElementsByTagName("td")[j].textContent || tr[i].getElementsByTagName("td")[j].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        break;
      } else {
        tr[i].style.display = "none";
      }
    }

  }
}
</script>
